{% extends 'template.twig' %}
{% block content %}
  <div class="d-flex flex-column align-items-center justify-content-center mt-4">
    <h2 class="text-uppercase mb-3">
      Administração
    </h2>
  </div>
{% endblock %}
