{% extends 'layout-admin.twig' %}
{% block content %}
  {% if logged == true %}
    <div class="d-flex justify-content-center align-items-center">
      <span class="d-flex justify-content-center align-items-center alert alert-success">
        Usuário está logado!
      </span>
    </div>
  {% endif %}
  {% if isValid == 'false' %}
    <div class="d-flex justify-content-center align-items-center">
      <span class="d-flex justify-content-center align-items-center alert alert-danger">
        Não foi possível fazer login, tente novamente!
      </span>
    </div>
  {% endif %}
  <br /><div id="login" class="container-fluid mb-5 mt-4">
    <form action="/login-admin"
      method="POST"
      class="d-flex flex-column align-items-center justify-content-center">
      <div class="card-header bg-transparent bg-secondary border-0 text-center">
        <h2 class="font-weight-semi-bold text-uppercase mb-3 text-center">
          Bem vindo ao administrativo
        </h2>
        <h4 class="mb-5">Entre com as credenciais</h4>
      </div>
      <div class="card-content">
        <div class="card-content-area">
          <label for="usuario">Email</label>
          <input type="email"
            name="email"
            id="usuario"
            autocomplete="off"
            class="form-control form-control-sm text-center rounded-lg"
            placeholder="usuario@exemplo.com"
            required />
        </div>
        <div class="card-content-area">
          <label for="password">Senha</label>
          <input type="password"
            name="password"
            id="password"
            autocomplete="off"
            class="form-control form-control-sm text-center rounded-lg"
            placeholder="senha de segurança"
            required />
        </div>
      </div><br />
      <div class="card-footer border-secondary bg-transparent">
        <input type="submit"
          value="Acessar"
          class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" />
      </div>
    </form>
  </div>
{% endblock %}
