{% extends 'template.twig' %}
{% block content %}
    <!-- Page Header Start -->
  <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 200px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">
        Pedidos realizados
      </h1>
      <div class="d-inline-flex">
        <p class="m-0">
          <a style="color: #D19C97 !important;" href="/">Home</a>
        </p>
        <p class="m-0 px-2">
          &gt;
        </p>
        <p class="m-0">
          {{ breadcrumb }}
        </p>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
{% endblock %}
