.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 1em;
  background-color: #1d1d1f;
  color: #aaa;
  font-size: 14px;
}

.header .logo a,
.header .menu_items a {
  text-decoration: none;
  color: #aaa;
  transition: .5s;
}

.header .logo a:hover,
.header .menu_items a:hover {
  color: #fff;
}

.header .menu_items,
.header .menu_items li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header .menu_items li {
  height: 40px;
  padding: 0 .5em;
}

.header .menu_items li:hover > ul {
  display: block;
}

.header .menu_items li ul {
  display: none;
  list-style: none;
  position: absolute;
  right: 125px;
  top: 40px;
  transition: .5s;
}

.header .menu_items li ul li {
  padding: 0 .5em;
  background-color: #3b3b3b;
}

.header .menu_items li ul li:last-child {
  border-radius: 0 0 5px 5px;
}

.header .menu_items li ul li:hover {
  background-color: rgb(0, 0, 0);
}

.header .menu_items li .qtd_items_cart {
  position: absolute;
  top: 5px;
  margin: 0 1px;
  display: inline;
  border-radius: 6px;
  padding: 3px;
  color: #efefef;
  background-color: #cb1516;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1f;
  min-height: 200px;
}

.footer > p {
  margin: 0 1em;
  color: #aaa;
}

.footer p > a:hover {
  color: #fff;
}

h1 {
  margin: 15px;
}

main {
  min-height: 80vh;
}